@CHARSET "UTF-8";

.fbold {
	font-weight:bold;
}

a:hover {
	cursor:pointer;
}

.clearfix:after {
	content:"";
	clear:both;
}

.mt-10 {
	margin-top: 10px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mr-10 {
	margin-right: 10px;
}

.mr-5 {
	margin-right: 5px;
}

.fleft {
	float:left;
}

.fright {
	float:right;
}

.status-waiting {
	color: rgb(193, 193, 193);
}

.status-sending {
	color: rgb(71, 175, 212);
}

.status-success {
	color: rgb(73, 171, 68);
}

.status-failure {
	color: rgb(208, 59, 59);
}

.status-stop {
	color: rgb(193, 193, 193);
}

.sheader {
	display: inline-block;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	border-color: #fff;
	margin-bottom: 10px;
}

.minheader {
	width: 32px;
	margin-right: 5px;
	border-radius: 4px;
}
