<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
<link rel="icon" href="logo/favicon.ico" type="image/x-icon" /> 
<link rel="shortcut icon" href="logo/favicon.ico" type="image/x-icon" />
<title>快来关注你干嘛</title>
</head>
<body style="text-align:center;margin-top:10px;">
	<img src="logo/barcode.jpeg" style="display:inline-block;" />
</body>
<script>
</script>
</html>