<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
<link th:href="@{css/bootstrap.css}" rel="stylesheet" />
<link th:href="@{css/sweetalert.css}" rel="stylesheet" />
<link th:href="@{css/common.css}" rel="stylesheet" />
<title>我这一天</title>
</head>
<body style="margin:10px;">
<div id="loading-bar" class="progress">
  <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
    <span>加载中...</span>
  </div>
</div>
<div id="report-dialog" style="text-align:center;display:none;">
	<img id="header" class="sheader" src="" />
	<div class="panel panel-success">
	  <div class="panel-heading">
	    <h3 id="dialog-title" class="panel-title"></h3>
	  </div>
	  <div class="panel-body">
	    <div class="clearfix">
	   	</div>
	  </div>
	</div>
</div>
<script th:src="@{js/jquery.min.js}"></script>
<script th:src="@{js/dateformatter.js}"></script>
<script th:src="@{js/ajaxutil.js}"></script>
<script th:src="@{js/wxlogin.js}"></script>
<script th:src="@{js/myday.js}"></script>
</body>
</html>