<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
<link th:href="@{css/bootstrap.css}" rel="stylesheet" />
<link th:href="@{css/sweetalert.css}" rel="stylesheet" />
<link th:href="@{css/common.css}" rel="stylesheet" />
<title>小报告</title>
</head>
<body style="margin:10px;">
<div id="loading-bar" class="progress">
  <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
    <span>加载中...</span>
  </div>
</div>
<div id="report-panel" style="display:none;width:100%;">
	<div class="panel panel-success">
	  <div class="panel-heading">
	    <h3 id="dialog-title" class="panel-title"></h3>
	  </div>
	  <div class="panel-body">
	    <div class="clearfix">
	    	<img id="header" class="sheader" style="margin-right:10px;" src="" /><span id="username-title"></span>
	    	<p id="report-address"></p>
	    	<p id="report-info"></p>
	   		<img id="img-selected" style="width:100%;margin-bottom:10px;" onclick="previewImage()" />
	   		<button id="btn-open-map" style="width:100%;" class="btn btn-success" onclick="openMap()">打开小地图</button>
	   		<div id="msg-block" class="mt-10"></div>
	   		<input id="leave-msg" class="form-control mt-10" maxlength="99" />
	   		<button id="btn-msg" class="btn btn-info fright mt-10" onclick="doLeaveMsg()">留言</button>
	   	</div>
	  </div>
	</div>
</div>
</body>
<script src="http://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
<script th:src="@{js/jquery.min.js}"></script>
<script th:src="@{js/dateformatter.js}"></script>
<script th:src="@{js/ajaxutil.js}"></script>
<script th:src="@{js/wxlogin.js}"></script>
<script th:src="@{js/wxmap.js}"></script>
</html>